body{
    margin: 0;
    padding: 0;

    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: #242424;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 900;
    color: #ffffff;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}

main{
    display: block;
    background: #ffffff;
}

.containner{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section.mode p{
    margin-bottom: 40px;
    color: #ffffff;
}

section.mode:last-child{
    margin-bottom: 0;
}

section.mode h2{
    margin-bottom: 40px;
    font-size: 40px;
}

section.mode.content{
    padding: 40px 0;
    background: #0e267b;
}

section.mode.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
}

section.mode.parallax::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;

    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%, #0f277e9a 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%, #0f277e9a 100%);
    background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%, #0f277e9a 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%, #0f277e9a 100%);
}

section.mode.parallax-1{
    background: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover
}

section.mode.parallax-2{
    background: url(https://images.unsplash.com/photo-1506443432602-ac2fcd6f54e0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover
}

section.mode.parallax-3{
    background: url(https://images.unsplash.com/photo-1462332420958-a05d1e002413?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2107&q=80);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover
}

section.mode.parallax h1{
    z-index: 50;

    font-size: 5em;
    text-align:center;
    text-transform: uppercase ;
    color: #ffffff;
}